<section id="main-info" class="pad-xl">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
        <hr class="line purple">
        <h3>App Feature One Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu elementum mi volutpat. Pellentesque ac tristique nisi.</p>
      </div>
      <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s">
        <hr  class="line blue">
        <h3>App Feature One Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu elementum mi volutpat. Pellentesque ac tristique nisi.</p>
      </div>
      <div class="col-sm-4 wow fadeIn" data-wow-delay="1.2s">
        <hr  class="line yellow">
        <h3>App Feature One Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci ut est facilisis, eu elementum mi volutpat. Pellentesque ac tristique nisi.</p>
      </div>
    </div>
  </div>
</section>
